body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
}
.concert-image {
    width: 100%; /* Make images responsive */
    max-width: 1000px; /* Set a maximum width for all images */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Optional: Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better appearance */
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    background-color: #333;
    
}
header nav ul {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the nav */
}

header nav ul li {
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: inline-block;
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect with filter */
header nav ul li a:hover {
    filter: brightness(1.5); /* Makes the button brighter on hover */
    background-color: #555; /* Optional: Add a background color change */
    border-radius: 5px; /* Optional: Add rounded corners */
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    font-family: 'helvetica neue', 'helvetica', 'arial', sans-serif;
}
img {
    display: block;
    margin: 0 auto;
}
header nav ul {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for the nav */
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    font-family: 'helvetica neue', 'helvetica', 'arial', sans-serif;
}

/* Smartphones (max-width: 576px) */
@media (max-width: 576px) {
    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 0.5em 0;
    }

    .cover-container h1 {
        font-size: 1.5rem;
    }

    .cover-container p {
        font-size: 1rem;
    }

    .card {
        margin-bottom: 1rem;
    }

    .table {
        font-size: 0.8rem;
    }
}

/* Tablets (max-width: 768px) */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    header nav ul li {
        margin: 0.5em;
    }

    .cover-container h1 {
        font-size: 2rem;
    }

    .cover-container p {
        font-size: 1.2rem;
    }

    .card {
        margin-bottom: 1.5rem;
    }

    .table {
        font-size: 0.9rem;
    }
}

/* Laptops (max-width: 1200px) */
@media (max-width: 1200px) {
    .cover-container h1 {
        font-size: 2.5rem;
    }

    .cover-container p {
        font-size: 1.3rem;
    }

    .card {
        margin-bottom: 2rem;
    }

    .table {
        font-size: 1rem;
    }
}